.app{
  text-align: center;
  margin: 20px;
}

.theater{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.row{
  display: flex;
  align-items: center;
  gap: 10px;
}

.seat{
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid green;
}

.seat.selected, .seat:hover{
  background-color: green;
}


.seat.booked {
  background-color: black; 
  color: aliceblue;
  cursor: not-allowed; 
  border: none;
}

.row-name{
  width: 30px;
}
